.nav-item a {
     /* float: right; */
    border-right: 2px solid rgb(123, 123, 123);
    margin: 2em;
    padding-right: 2em; 
     /* width: 80%; */
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 4.5rem;
    padding-left: 0;
}
.nav-linkw{
    border: 2px solid rgb(47, 255, 0)(255, 0, 0);
}
.nav-link{
    padding: 4px;
}
body {
    background-size: cover;
}