body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    background-color: #2c7097;
}

nav {
    border: 1px solid rgb(192, 186, 186);
    border-radius: 10px;
    margin: -15px;
    background-color: #3c6e8b;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

.nav-item a {
    border-right: 1px solid white;
    margin: 1em;
    padding-right: 2em;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0;
}

.nav-link {
    padding: 0px;
}

.carousel {
    margin: 15px 0 15px;
    width: auto;
    height: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {

    width: 30px;
    height: 30px;

}

.border {
    border: 1px solid rgb(192, 186, 186);
    border-radius: 10px;
    background-color: #3c6e8b;

}

iframe {
    max-width: 100%;
    height: -webkit-fill-available;
}

.card img {
    width: -webkit-fill-available;
    
}
.imge img {
    width: -webkit-fill-available;
    /* display: flex; */
    
}

.card-body h4 {
    font-size: medium;
}


.card-body p {
    font-size: small;
    color: red;
    text-align: justify;
}

.card-body a {
    text-decoration: none;
    text-align: center;
}



#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.link-col img {
    max-width: 40%;
    height: 40%;
    border-radius: 10px;

}

.link-col a {
    color: white;
    text-decoration: none;
}

hr{
    border: 1px solid white;
    width: 100%;
    
   
}